.hero-connect {
    padding: 5rem 0;
    background-color: #f0efe9;
    background-image: url(/images/bg-effect.png);
    background-repeat: no-repeat;
    background-position: 0% 100%;
    .container {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        gap: 20px;

        a {
            text-decoration: none;
            color: inherit;


            &.active {
                font-weight: 500;
                color: inherit;
            }
            
           
            
            
            
        }
        h1 {
            color: #191919;
            font-family: 'DM Sans', sans-serif;
            font-weight: 700;
            font-size: 3.5rem;
            width: 100%;
            text-align: center;
            
            
        }
    }
}


.connect {
    padding: 6rem 0;

    .container {

        .connect-grid {

            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 30px;
    
            .connect-card {
                display: flex;
                gap: 20px;
                padding: 2rem;
                border: 1px solid #dad9d3;
    
                .connect-icon {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    align-self: flex-start;
                    padding: 20px 22px;
                    border-radius: 50%;
                    background-color: #191919;
                }
                
    
                i {
                    font-size: 1.5rem;
                    color: #fff;
                    
                }
    
                .connect-info {
                    display: flex;
                    flex-direction: column;

                    a {
                        text-decoration: none;
                        color: inherit;
                    }
                    
                    
                }
            }
        }
    }
}

.connect-form {
   
    padding: 0 0 6rem 0;
    .container {

        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
        background-color: #f0efe9;
        padding: 5rem 0;

        input {
            width: 50%;
            padding: 1rem;
            border-radius: 25px;
            
            border: 1px solid #fff;

            
        }

        textarea {
            border-radius: 25px;
            width: 50%;
            padding: 1rem;
            border-color: #fff;
        }
        .button {
            width: 50%;
        }
    }
}

.google-maps {
    img {
        width: 100%;
    }
}

