.hero-connect {
  padding: 5rem 0;
  background-color: #f0efe9;
  background-image: url(/images/bg-effect.png);
  background-repeat: no-repeat;
  background-position: 0% 100%;
}
.hero-connect .container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  gap: 20px;
}
.hero-connect .container a {
  text-decoration: none;
  color: inherit;
}
.hero-connect .container a.active {
  font-weight: 500;
  color: inherit;
}
.hero-connect .container h1 {
  color: #191919;
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  font-size: 3.5rem;
  width: 100%;
  text-align: center;
}

.connect {
  padding: 6rem 0;
}
.connect .container {
  display: grid;
  grid-template-columns: repeat(1fr);
  gap: 30px;
}
@media (min-width: 992px) {
  .connect .container {
    grid-template-columns: repeat(3, 1fr);
  }
}
.connect .container .connect-card {
  display: flex;
  gap: 20px;
  padding: 1rem;
  border: 1px solid #dad9d3;
}
.connect .container .connect-card .connect-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: flex-start;
  padding: 20px 22px;
  border-radius: 50%;
  background-color: #191919;
}
.connect .container .connect-card i {
  font-size: 1.5rem;
  color: #fff;
}
.connect .container .connect-card .connect-info {
  display: flex;
  flex-direction: column;
}
.connect .container .connect-card .connect-info a {
  text-decoration: none;
  color: inherit;
}

@media (min-width: 576px) {
  .connect-form {
    padding-bottom: 6rem;
  }
}
.connect-form .container {
  padding-top: 7rem;
  padding-bottom: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  background-color: #f0efe9;
}
.connect-form .container .message-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.connect-form .container .message-form input {
  padding: 1rem;
  border-radius: 25px;
  border: 1px solid #fff;
}
.connect-form .container .message-form textarea {
  border-radius: 25px;
  padding: 1rem;
  border-color: #fff;
}
.google-maps img {
  min-height: 400px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}