.hero-connect {
    padding-top: clamp(3rem, 2.0714rem + 4.6429vw, 6.25rem);
    padding-bottom: clamp(3rem, 2.0714rem + 4.6429vw, 6.25rem);
    background-color: #f0efe9;
    background-image: url(/images/bg-effects/bg-connect.svg);
    background-repeat: no-repeat;
    background-position: 0% 100%;

    .container {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        gap: 20px;

        a {
            text-decoration: none;
            color: inherit;

            &.active {
                font-weight: 500;
                color: inherit;
            } 
            
            &:hover {
                text-decoration: underline;
            }
        }

        h1 {
            color: #191919;
            font-family: 'DM Sans', sans-serif;
            font-weight: 700;
            font-size: 3.5rem;
            width: 100%;
            text-align: center;
            
        }
    }
}


.connect {
    padding-top: clamp(3rem, 2.0714rem + 4.6429vw, 6.25rem);
    padding-bottom: clamp(2rem, 1.1429rem + 4.2857vw, 5rem);

    .container {
        display: grid;
        grid-template-columns: repeat(1fr);
        gap: 30px;

        @media (min-width: 992px) {
            grid-template-columns: repeat(3, 1fr);
        }

        .connect-card {
            display: flex;
            gap: 20px;
            padding: 3rem;
            border: 1px solid #dad9d3;

            .connect-icon {
                display: flex;
                justify-content: center;
                align-items: center;
                align-self: flex-start;
                padding: 20px 22px;
                border-radius: 50%;
                background-color: #191919;
            }

            i {
                font-size: 1.5rem;
                color: #fff;
            }

            .connect-info {
                display: flex;
                flex-direction: column;

                h4 {
                    margin-bottom: 20px;
                }

                a {
                    text-decoration: none;
                    color: inherit;

                    &:hover {
                        text-decoration: underline;

                    }
                }
            }
        }
    }
}

.connect-form {

   @media (min-width: 576px) {
    padding-bottom: clamp(0rem, -2.1429rem + 10.7143vw, 7.5rem);
   }
    .container {
        padding-top: clamp(3rem, 1.7143rem + 6.4286vw, 7.5rem);
        padding-bottom: clamp(3rem, 2.0714rem + 4.6429vw, 6.25rem);
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
        background-color: #f0efe9;

        .message-form {
            display: flex;
            flex-direction: column;
            gap: 20px;

            input {
                padding: 1rem;
                border-radius: 25px;
                border: 1px solid #fff;
            }
    
            textarea {
                border-radius: 25px;
                padding: 1rem;
                border-color: #fff;
                resize: none;
                min-height: 240px;
            }
            .button {
                padding: 12px 30px;
            }
        }
    }
}

.google-maps {
    img {
       min-height: 400px;
       width: 100%;
       object-fit: cover;
    }
}




// .main-menu{
//     display: flex;
//     justify-content: space-between;
//     align-items: center;
//     padding-top: .5rem;
    
   
//     nav {

//         a {
//             display: inline-block;
//             color: #191919;
//             text-decoration: none;
//             margin-right: 1.3rem;
//             position: relative;

            
//             &.active {
//                 font-weight: 500;
//             }

//             &.active::after,
//             &:hover::after {
//                 content: '';
//                 position: absolute;
//                 width: 15px;
//                 height: 2px;
//                 background-color: #191919;
//                 left: 50%;
//                 bottom: -3px;
//                 transform: translate((calc(50% - 15px)));
//             }
//         }
//     }

//     >a{
//         padding: 10px 30px;
//         background-color: #F9D783;
//         border:1px solid #F9D783;
//         border-radius: 25px;
//         text-decoration: none;
//         color: #191919;
//         font-weight: 600;
//         font-size: 1rem;
//         transition: transform .2s ease-in-out;

//         i{
//             margin-left: 8px;
//             font-size: 0.9em;

            
//         }
        
//         &:hover{
//             transform: scale(0.9);
//         }
//     }    
// }