.hero-connect {
    padding-top: clamp(3rem, 2.0714rem + 4.6429vw, 6.25rem);
    padding-bottom: clamp(3rem, 2.0714rem + 4.6429vw, 6.25rem);
    background-color: #f0efe9;
    background-image: url(/images/bg-effect.png);
    background-repeat: no-repeat;
    background-position: 0% 100%;

    .container {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        gap: 20px;

        a {
            text-decoration: none;
            color: inherit;

            &.active {
                font-weight: 500;
                color: inherit;
            } 
            
            &:hover {
                text-decoration: underline;
            }
        }

        h1 {
            color: #191919;
            font-family: 'DM Sans', sans-serif;
            font-weight: 700;
            font-size: 3.5rem;
            width: 100%;
            text-align: center;
            
        }
    }
}


.connect {
    padding-top: clamp(3rem, 2.0714rem + 4.6429vw, 6.25rem);
    padding-bottom: clamp(2rem, 1.1429rem + 4.2857vw, 5rem);

    .container {
        display: grid;
        grid-template-columns: repeat(1fr);
        gap: 30px;

        @media (min-width: 992px) {
            grid-template-columns: repeat(3, 1fr);
        }

        .connect-card {
            display: flex;
            gap: 20px;
            padding: 1rem;
            border: 1px solid #dad9d3;

            .connect-icon {
                display: flex;
                justify-content: center;
                align-items: center;
                align-self: flex-start;
                padding: 20px 22px;
                border-radius: 50%;
                background-color: #191919;
            }

            i {
                font-size: 1.5rem;
                color: #fff;
            }

            .connect-info {
                display: flex;
                flex-direction: column;

                a {
                    text-decoration: none;
                    color: inherit;

                    &:hover {
                        text-decoration: underline;

                    }
                }
            }
        }
    }
}

.connect-form {

   @media (min-width: 576px) {
    padding-bottom: clamp(0rem, -2.1429rem + 10.7143vw, 7.5rem);
   }
    .container {
        padding-top: clamp(3rem, 1.7143rem + 6.4286vw, 7.5rem);
        padding-bottom: clamp(3rem, 2.0714rem + 4.6429vw, 6.25rem);
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
        background-color: #f0efe9;

        .message-form {
            display: flex;
            flex-direction: column;
            gap: 20px;

            input {
                padding: 1rem;
                border-radius: 25px;
                border: 1px solid #fff;
            }
    
            textarea {
                border-radius: 25px;
                padding: 1rem;
                border-color: #fff;
            }
            .button {
                padding: 12px 30px;
            }
        }
    }
}

.google-maps {
    img {
       min-height: 400px;
       width: 100%;
       object-fit: cover;
    }
}