@import url("https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,700&family=Inter:wght@300;400;500;600;700;800;900&display=swap");
html, body {
  color: #191919;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
}

.button {
  padding: 10px 30px;
  background-color: #F9D783;
  border: 1px solid #F9D783;
  border-radius: 25px;
  text-decoration: none;
  color: #191919;
  font-weight: 600;
  font-size: 1rem;
  transition: transform 0.2s ease-in-out;
  text-transform: capitalize;
  text-align: center;
}
.button i {
  margin-left: 8px;
  font-size: 0.9em;
}
.button:hover {
  transform: scale(0.9);
}

h2 {
  color: #191919;
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  font-size: 2.8rem;
  text-transform: capitalize;
}

h3 {
  color: #F94D1C;
  font-size: 1.125rem;
  text-transform: capitalize;
  font-weight: 500;
}

h4 {
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  font-size: 1.375rem;
  color: #191919;
}

header {
  background-color: #f0efe9;
  padding: 1rem 0;
}
header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 4.375rem;
}
header .container .menu {
  display: none;
  flex-grow: 1;
}
@media (min-width: 992px) {
  header .container .menu {
    display: block;
  }
}
header .container .menu .top-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 0.5rem;
  border-bottom: 1px solid #dad9d3;
}
header .container .menu .top-menu .contact {
  display: flex;
  gap: 1rem;
}
header .container .menu .top-menu .contact .contact-info {
  border-right: 1px solid #dad9d3;
  padding-right: 1rem;
}
header .container .menu .top-menu .contact .contact-info i {
  margin-right: 5px;
  font-size: 1em;
  transition: transform 0.2s ease-in-out;
}
header .container .menu .top-menu .contact .contact-info a {
  font-family: "Inter", sans-serif;
  text-decoration: none;
  color: #191919;
  font-size: 0.875rem;
  font-weight: 300;
}
header .container .menu .top-menu .contact .contact-info a:hover i {
  transform: scale(1.3);
}
header .container .menu .top-menu .contact .contact-info.last {
  border: none;
}
header .container .menu .top-menu .social-media a {
  color: #191919;
  font-size: 1.2rem;
  margin-left: 10px;
  transition: opacity 0.2s ease-in-out;
}
header .container .menu .top-menu .social-media a:hover {
  opacity: 0.7;
}
header .container .menu .main-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 0.5rem;
}
header .container .menu .main-menu nav a {
  display: inline-block;
  color: #191919;
  text-decoration: none;
  margin-right: 1.3rem;
  position: relative;
}
header .container .menu .main-menu nav a.active {
  font-weight: 500;
}
header .container .menu .main-menu nav a.active::after, header .container .menu .main-menu nav a:hover::after {
  content: "";
  position: absolute;
  width: 15px;
  height: 2px;
  background-color: #191919;
  left: 50%;
  bottom: -3px;
  transform: translate(calc(50% - 15px));
}
header .container .menu .main-menu > a {
  padding: 10px 30px;
  background-color: #F9D783;
  border: 1px solid #F9D783;
  border-radius: 25px;
  text-decoration: none;
  color: #191919;
  font-weight: 600;
  font-size: 1rem;
  transition: transform 0.2s ease-in-out;
}
header .container .menu .main-menu > a i {
  margin-left: 8px;
  font-size: 0.9em;
}
header .container .menu .main-menu > a:hover {
  transform: scale(0.9);
}

.mobile-menu {
  display: flex;
  flex-direction: column;
  gap: 5px;
  z-index: 99;
  cursor: pointer;
}
@media (min-width: 992px) {
  .mobile-menu {
    display: none;
  }
}

.mobile-menu::before,
.mobile-menu::after,
.mobile-menu input {
  content: "";
  width: 24px;
  height: 2px;
  background-color: #191919;
  border-radius: 2px;
  transition: opacity 200ms ease-in-out, width 200ms ease-in-out, rotate 200ms ease-in-out, translate 200ms ease-in-out;
  transform-origin: center center;
}

.mobile-menu input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
  pointer-events: none;
}

.mobile-menu input:checked {
  opacity: 0;
  width: 0;
}

.mobile-menu:has(input:checked)::before {
  rotate: 45deg;
  translate: 0px 8px;
}

.mobile-menu:has(input:checked)::after {
  rotate: -45deg;
  translate: 0px -6px;
}

.mobile-menu:has(input:checked) + .mobile-menu-slide {
  translate: 0;
}

.mobile-menu-slide {
  width: 100%;
  position: absolute;
  top: 63px;
  left: 0px;
  padding-top: 2rem;
  transition: translate var(--animation-timing);
  translate: 100%;
  background-color: rgb(172, 172, 172);
  min-height: calc(100svh - 63px);
}

.mobile-menu-slide ul {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.mobile-menu-slide ul li {
  list-style: none;
  text-align: center;
}

.hero {
  background-color: #f0efe9;
  background-image: url(/images/bg-effect.png);
  background-position: 0% 100%;
  background-repeat: no-repeat;
  padding-top: 1rem;
  padding-bottom: 2rem;
}
@media (min-width: 1200px) {
  .hero {
    padding-bottom: 0;
  }
}
.hero .container {
  display: flex;
  gap: 20px;
}
@media (max-width: 992px) {
  .hero .container {
    flex-direction: column-reverse;
  }
}
.hero .hero-info {
  display: flex;
  flex-flow: row wrap;
  align-content: center;
  gap: 1rem;
}
.hero .hero-info h1 {
  font-size: clamp(3rem, 2.2rem + 4vw, 5.5rem);
  text-transform: capitalize;
  font-family: "DM Sans", sans-serif;
}
.hero .hero-info p {
  font-size: 1.25rem;
  width: 100%;
}
.hero .hero-info a {
  padding: 12px 30px;
  flex-grow: 1;
}
@media (min-width: 1200px) {
  .hero .hero-info a {
    flex-grow: 0;
  }
}
.hero .hero-info .button:last-child {
  background-color: transparent;
  border-color: #191919;
}
.hero img {
  display: none;
}
@media (min-width: 1200px) {
  .hero img {
    display: block;
    margin-right: -50px;
  }
}

.business-logo {
  padding: 5rem 0;
}
.business-logo .container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 40px;
  place-items: center;
}
@media (min-width: 567px) {
  .business-logo .container {
    grid-template-columns: 1fr 1fr;
  }
}
@media (min-width: 768px) {
  .business-logo .container {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (min-width: 992px) {
  .business-logo .container {
    grid-template-columns: repeat(5, 1fr);
  }
}

.features {
  padding: 5rem 0;
}
.features .container {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
  gap: 40px;
}
@media (min-width: 576px) {
  .features .container {
    outline: 1px solid #dad9d3;
    outline-offset: 2rem;
  }
}
@media (min-width: 992px) {
  .features .container {
    flex-flow: row wrap;
    gap: 0px;
  }
}
@media (min-width: 992px) and (min-width: 1200px) {
  .features .container {
    outline-offset: 3rem;
  }
}
.features .container .features-info {
  display: flex;
  flex-flow: row wrap;
  align-content: start;
  gap: 20px;
}
.features .container .features-info .button {
  width: 100%;
  padding: 12px 30px;
}
.features .container .features-box {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}
.features .container .features-box div {
  display: flex;
  flex-flow: column;
  align-items: start;
  padding: 1.7rem 1rem;
}
.features .container .features-box div p {
  color: 500000E5E;
}
.features .container .features-box div img {
  margin-bottom: 30px;
}

.about {
  padding: 5rem 0;
}
.about .container {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
@media (min-width: 992px) {
  .about .container {
    flex-direction: row;
    justify-content: space-between;
    gap: 60px;
  }
}
.about .container .about-img {
  position: relative;
}
@media (min-width: 1200px) {
  .about .container .about-img {
    padding-left: 4rem;
  }
}
@media (max-width: 992px) {
  .about .container .about-img img {
    max-height: 400px;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: 50% 40%;
       object-position: 50% 40%;
  }
}
@media (max-width: 1200px) {
  .about .container .about-img img {
    width: 100%;
  }
}
.about .container .about-img div {
  background-color: #BEEBFF;
  padding: 2rem;
}
@media (min-width: 1200px) {
  .about .container .about-img div {
    position: absolute;
    left: 0;
    bottom: 3rem;
  }
}
.about .container .about-img div h4, .about .container .about-img div span {
  font-weight: 700;
  font-family: "DM Sans", sans-serif;
  font-size: 1.25rem;
  text-transform: capitalize;
}
.about .container .about-img div h4 span, .about .container .about-img div span span {
  color: #F94D1C;
  font-size: 1rem;
}
.about .container .about-img div h4 p, .about .container .about-img div span p {
  font-weight: 500;
  font-style: italic;
}
.about .container .about-info {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
@media (min-width: 1200px) {
  .about .container .about-info {
    padding: 0 1rem;
  }
}
.about .container .about-info .about-buttons {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-top: 40px;
}
@media (min-width: 576px) {
  .about .container .about-info .about-buttons {
    flex-direction: row;
    justify-content: start;
    gap: 40px;
  }
}
@media (min-width: 992px) {
  .about .container .about-info .about-buttons {
    justify-content: start;
  }
}
.about .container .about-info .about-buttons .button {
  background-color: #191919;
  border-color: #191919;
  color: #fff;
  padding: 12px 24px;
}
@media (min-width: 576px) {
  .about .container .about-info .about-buttons .button {
    flex-grow: 1;
  }
}
.about .container .about-info .about-buttons .play {
  font-weight: 600;
  font-size: 1rem;
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #191919;
  transition: transform 0.2s ease-in-out;
  align-self: center;
  flex-grow: 1;
}
.about .container .about-info .about-buttons .play i {
  font-size: 45px;
  margin-right: 10px;
}
.about .container .about-info .about-buttons .play:hover {
  transform: scale(0.9);
}
@media (min-width: 992px) {
  .about .container .about-info .about-buttons .button, .about .container .about-info .about-buttons .play {
    margin-top: 40px;
  }
}

.services {
  background-color: #F0EFE9;
  padding: 7rem 0;
}
.services .container .service-txt h2 {
  margin-top: 20px;
  margin-bottom: 50px;
}
@media (min-width: 768px) {
  .services .container .service-txt h2 {
    width: 500px;
  }
}
.services .container .service-box-grid {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  -moz-column-gap: 20px;
       column-gap: 20px;
  row-gap: 20px;
}
@media (min-width: 576px) {
  .services .container .service-box-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 992px) {
  .services .container .service-box-grid {
    grid-template-columns: repeat(4, 1fr);
  }
}
.services .container .service-box-grid a {
  display: inline-flex;
  text-decoration: none;
  color: inherit;
}
.services .container .service-box-grid .service-box {
  padding: 40px 20px 40px 20px;
  background-color: #fff;
}
.services .container .service-box-grid .service-box img {
  margin-bottom: 40px;
}
.services .container .service-box-grid .service-box h4 {
  color: #191919;
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  font-size: 1.375rem;
  text-transform: capitalize;
}
.services .container .service-box-grid .service-box i {
  border: 1px solid #191919;
  background-color: #191919;
  color: #fff;
  padding: 20px 20px;
  border-radius: 50%;
  margin-top: 15px;
  float: right;
}
.services .container .service-box-grid .service-box:hover {
  background-color: #F9D783;
  cursor: pointer;
}
.services .container .service-box-grid .service-box:hover i {
  background-color: #fff;
  border-color: #fff;
  color: #191919;
}
.services .container .btn-service {
  margin-top: 50px;
  display: flex;
  justify-content: center;
}
.services .container .btn-service a {
  background-color: transparent;
  border-color: #191919;
  padding: 12px 24px;
}

.why-us {
  padding: 5rem 0;
  position: relative;
}
.why-us .container {
  display: flex;
  flex-flow: column;
  gap: 40px;
  justify-content: space-between;
}
@media (min-width: 992px) {
  .why-us .container {
    flex-flow: row;
  }
}
.why-us .container .us-info {
  display: flex;
  flex-flow: column;
  gap: 20px;
}
.why-us .container .us-icon {
  display: grid;
  grid-template-columns: 1fr;
  -moz-column-gap: 20px;
       column-gap: 20px;
  row-gap: 40px;
  margin-top: 20px;
}
@media (min-width: 768px) {
  .why-us .container .us-icon {
    grid-template-columns: 1fr 1fr;
  }
}
@media (min-width: 992px) {
  .why-us .container .us-icon {
    grid-template-columns: 1fr;
  }
}
.why-us .container .us-icon .us-icon-info {
  display: flex;
  gap: 30px;
  align-items: center;
}
.why-us .container .us-icon .us-icon-info .icon-txt {
  display: flex;
  flex-direction: column;
}
.why-us .container .us-icon .us-icon-info .icon-txt h4 {
  margin: 0;
}
.why-us .container .us-icon .us-icon-info .icon-txt p {
  margin-top: 5px;
  margin-bottom: 0px;
}
.why-us .container .us-img {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}
@media (min-width: 1200px) {
  .why-us .container .us-img {
    align-items: flex-start;
  }
}
.why-us .container .us-img img {
  max-width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  padding-top: 20px;
}
.why-us .container span {
  position: absolute;
  left: 0;
  right: 0;
  top: 85%;
  bottom: 80px;
  background-color: #F0EFE9;
}
@media (min-width: 576px) {
  .why-us .container span {
    top: 70%;
  }
}
@media (min-width: 768px) {
  .why-us .container span {
    top: 60%;
  }
}
@media (min-width: 992px) {
  .why-us .container span {
    top: 45%;
    left: 50%;
  }
}
@media (min-width: 1200px) {
  .why-us .container span {
    left: 45%;
    top: 35%;
  }
}

.project-case {
  padding: 5rem 0;
}
.project-case .container h3, .project-case .container h2 {
  text-align: center;
}
.project-case .container .blog-grid {
  margin-top: 60px;
  margin-bottom: 60px;
  display: grid;
  grid-template-columns: 1fr;
  -moz-column-gap: 30px;
       column-gap: 30px;
  row-gap: 40px;
}
@media (min-width: 768px) {
  .project-case .container .blog-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}
.project-case .container .blog-grid .blog-card {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.project-case .container .blog-grid .blog-card img {
  width: 100%;
}
.project-case .container .blog-grid .blog-card .blog-info {
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  flex: 1;
}
.project-case .container .blog-grid .blog-card .blog-info h4 {
  padding-bottom: 10px;
}
.project-case .container .blog-grid .blog-card .blog-info .blog-button {
  border-top: 1px solid #dad9d3;
  padding-top: 20px;
  display: flex;
  justify-content: flex-end;
}
.project-case .container .blog-grid .blog-card .blog-info .blog-button a {
  text-decoration: none;
  font-size: 0.875rem;
  color: #191919;
}
.project-case .container .blog-grid .blog-card .blog-info .blog-button a i {
  margin-left: 10px;
}
.project-case .container .btn-projects {
  display: flex;
  justify-content: center;
}
.project-case .container .btn-projects .button {
  background-color: #191919;
  border-color: #191919;
  color: #fff;
  padding: 12px 30px;
}

.team {
  padding-top: 5rem;
  background-color: #F0D082;
}
.team .container .team-txt {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
  padding: 2rem 0;
  gap: 20px;
}
.team .container .team-txt h3 {
  width: 100%;
}
.team .container .team-txt h2 {
  margin: 0;
}
.team .container .team-txt .button {
  padding: 12px 24px;
  background-color: transparent;
  border-color: #191919;
}
.team .container .team-grid {
  display: grid;
  grid-template-columns: 1fr;
  -moz-column-gap: 20px;
       column-gap: 20px;
  row-gap: 20px;
  margin-bottom: 40px;
}
@media (min-width: 576px) {
  .team .container .team-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 992px) {
  .team .container .team-grid {
    grid-template-columns: repeat(4, 1fr);
  }
}
.team .container .team-grid .team-card {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.team .container .team-grid .team-card img {
  width: 100%;
}
.team .container .pagination {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.testimonial {
  padding: 10rem 0 12rem 0;
  background-color: #F0D082;
}
.testimonial .container {
  padding-top: 4rem;
  padding-bottom: 4rem;
  outline: 90px solid #fff;
  background-color: #fff;
}
.testimonial .container .testimonial-txt {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 60px;
}
.testimonial .container .testimonial-grid {
  display: grid;
  grid-template-columns: 1fr;
  -moz-column-gap: 20px;
       column-gap: 20px;
}
@media (min-width: 992px) {
  .testimonial .container .testimonial-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}
.testimonial .container .testimonial-grid .review {
  padding: 2rem 1rem;
  background-color: #fff;
}
.testimonial .container .testimonial-grid .review .review-txt p {
  font-size: 1.125rem;
  font-weight: 600;
  font-style: italic;
  margin-top: 20px;
}
.testimonial .container .testimonial-grid .review .review-maker {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-top: 30px;
}
.testimonial .container .testimonial-grid .review .review-maker .review-name h4 {
  margin: 0;
}
.testimonial .container .testimonial-grid .review .review-maker .review-name p {
  margin: 0;
  color: #F94D1C;
}
.testimonial .container .all-reviews {
  margin-top: 60px;
  display: flex;
  justify-content: center;
}
.testimonial .container .all-reviews a {
  padding: 12px 24px;
  background-color: #191919;
  border-color: #191919;
  color: #fff;
}

.article-news {
  padding: 5rem 0;
}
.article-news .container .news-head {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  margin-bottom: 40px;
  padding: 2rem 0;
}
.article-news .container .news-head h3 {
  width: 100%;
}
.article-news .container .news-head h2 {
  margin: 0;
}
.article-news .container .news-head .button {
  background-color: transparent;
  border-color: #191919;
  padding: 12px 24px;
  flex-grow: 1;
}
@media (min-width: 576px) {
  .article-news .container .news-head .button {
    flex-grow: 0;
  }
}
.article-news .container .article-news-grid {
  display: grid;
  grid-template-columns: 1fr;
  -moz-column-gap: 20px;
       column-gap: 20px;
  row-gap: 20px;
}
@media (min-width: 992px) {
  .article-news .container .article-news-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}
.article-news .container .article-news-grid .article-news-card {
  display: flex;
  flex-direction: column;
  gap: 20px;
  position: relative;
}
.article-news .container .article-news-grid .article-news-card .box-img {
  width: 100%;
}
.article-news .container .article-news-grid .article-news-card .box-date {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #F9D783;
  width: 50px;
  height: 65px;
  position: absolute;
  top: 20px;
  left: 20px;
}
.article-news .container .article-news-grid .article-news-card .box-date p {
  text-align: center;
  margin: 0;
  line-height: 18px;
}
.article-news .container .article-news-grid .article-news-card .box-date p span {
  font-family: "DM Sans", sans-serif;
  font-size: 1.375rem;
  font-weight: 700;
}
.article-news .container .article-news-grid .article-news-card .box-info {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.article-news .container .article-news-grid .article-news-card .box-info p {
  color: #6A6C71;
  margin: 0;
}
.article-news .container .article-news-grid .article-news-card .box-info h4 {
  margin: 0;
}
.article-news .container .pagination {
  display: flex;
  justify-content: center;
  margin-top: 60px;
}

.sign-up {
  padding: 5rem 0;
  background-color: #F0EFE9;
  background-image: url(/icons/bg-signup.svg);
  background-repeat: no-repeat;
  background-position: 100% 100%;
}
@media (min-width: 768px) {
  .sign-up {
    background-position: 100% 70%;
  }
}
.sign-up .container {
  display: flex;
  flex-flow: column;
  gap: 20px;
}
@media (min-width: 1400px) {
  .sign-up .container {
    flex-direction: row;
    gap: 180px;
  }
}
.sign-up .container h2 {
  margin: 0;
  text-align: center;
}
.sign-up .container input {
  border-radius: 25px;
  padding: 12px 24px;
  border: 1px solid #fff;
}
.sign-up .container .button {
  padding: 12px 24px;
}
.sign-up .container .sign-up-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}
@media (min-width: 768px) {
  .sign-up .container .sign-up-form {
    flex-direction: row;
  }
}

.footer {
  background-color: #0E1021;
  background-image: url(/images/footer-bg-effect.png);
  background-repeat: no-repeat;
  background-position: 100% 100%;
  padding: 5rem 0;
}
.footer .container {
  display: grid;
  grid-template-columns: 1fr;
  -moz-column-gap: 80px;
       column-gap: 80px;
}
@media (min-width: 576px) {
  .footer .container {
    grid-template-areas: "footer-about footer-about";
    grid-template-columns: 1fr 1fr;
  }
}
@media (min-width: 1200px) {
  .footer .container {
    grid-template-columns: 320px repeat(4, 1fr);
  }
}
.footer .container .footer-about {
  display: flex;
  flex-flow: row wrap;
  gap: 20px;
}
@media (min-width: 576px) and (max-width: 1200px) {
  .footer .container .footer-about {
    grid-area: footer-about;
  }
}
.footer .container .footer-about p {
  color: #fff;
}
.footer .container .company, .footer .container .help, .footer .container .resources, .footer .container .link {
  padding-top: 2.5rem;
}
.footer .container .company h4, .footer .container .help h4, .footer .container .resources h4, .footer .container .link h4 {
  color: #fff;
}
.footer .container .company nav, .footer .container .help nav, .footer .container .resources nav, .footer .container .link nav {
  margin-top: 40px;
}
.footer .container .company nav ul, .footer .container .help nav ul, .footer .container .resources nav ul, .footer .container .link nav ul {
  list-style: none;
  padding: 0;
}
.footer .container .company nav ul li, .footer .container .help nav ul li, .footer .container .resources nav ul li, .footer .container .link nav ul li {
  margin-bottom: 20px;
}
.footer .container .company nav ul li a, .footer .container .help nav ul li a, .footer .container .resources nav ul li a, .footer .container .link nav ul li a {
  text-decoration: none;
  color: #fff;
}

.footer-bottom {
  border-top: 1px solid #dad9d3;
  padding: 1.5rem 0;
  background-color: #0E1021;
}
.footer-bottom .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
@media (min-width: 768px) {
  .footer-bottom .container {
    flex-direction: row;
    justify-content: space-between;
  }
}
.footer-bottom .container p {
  color: #fff;
  margin: 0;
  text-align: center;
}
.footer-bottom .container a {
  color: #fff;
  font-size: 1.2rem;
  margin-left: 10px;
}