@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,700&family=Inter:wght@300;400;500;600;700;800;900&display=swap');


html, body{
    color: #191919;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 400;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
}

.button{
    padding: 10px 30px;
    background-color: #F9D783;
    border:1px solid #F9D783;
    border-radius: 25px;
    text-decoration: none;
    color: #191919;
    font-weight: 600;
    font-size: 1rem;
    transition: transform .2s ease-in-out;
    text-transform: capitalize;
    text-align: center;

    i{
        margin-left: 8px;
        font-size: 0.9em;
    }
    
    &:hover{
        transform: scale(0.9);
    }
}   

h2 {
    color: #191919;
    font-family: 'DM Sans', sans-serif;
    font-weight: 700;
    font-size: clamp(2rem, 1.7465rem + 1.2673vw, 2.8rem);
    text-transform: capitalize;
    margin: 0;
}

h3 {
    color:#F94D1C;
    font-size: 1.125rem;
    text-transform: capitalize;
    font-weight: 500;
    margin: 0;
}

h4 {
    font-family: 'DM Sans', sans-serif;
    font-weight: 700;
    font-size: 1.375rem;
    color: #191919;
    margin: 0;
}

.clickable {
    text-decoration: none;
    color: inherit;
    display: inline-flex;
}

img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }

ul[role='list'],
ol[role='list'] {
  list-style: none;
  margin: 0;
  padding: 0;
}


//   padding-top: clamp(3rem, 2.0757rem + 3.9437vw, 5.625rem);
//   padding-bottom: clamp(3rem, 1.4155rem + 6.7606vw, 7.5rem); 

header {
    background-color: #f0efe9;
    padding: 1rem 0;

    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 4.375rem;
        
        .menu {
            display: none;
            flex-grow: 1;
           
            @media (min-width:992px){
                display: block;
            }

            .top-menu{
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding-bottom: .5rem;
                border-bottom: 1px solid #dad9d3;
                
                .contact{
                    display: flex;
                    gap:1rem;
                    
                    .contact-info{
                       border-right: 1px solid #dad9d3;
                       padding-right: 1rem;
                       
                       i{
                        margin-right: 5px;
                        font-size: 1em;
                        transition: transform .2s ease-in-out;
                       }

                       a {
                        font-family: 'Inter', sans-serif;
                        text-decoration: none;
                        color: #191919;
                        font-size: 0.875rem;
                        font-weight: 300;
                        
                            &:hover{
                                i{
                                    transform: scale(1.3);
                                }
                            }
                        }

                       &.last{
                        border:none;
                       }
                    }
                }

                .social-media {

                    a {
                        color: #191919;
                        font-size: 1.2rem;
                        margin-left: 10px;
                        transition: opacity .2s ease-in-out;

                        &:hover{
                            opacity: 0.7;

                        }
                    }
                }
            }
            
            
            .main-menu{
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding-top: .5rem;
               
                nav {

                    a {
                        display: inline-block;
                        color: #191919;
                        text-decoration: none;
                        margin-right: 1.3rem;
                        position: relative;
    

                        &.active {
                            font-weight: 500;
                        }

                        &.active::after,
                        &:hover::after {
                            content: '';
                            position: absolute;
                            width: 15px;
                            height: 2px;
                            background-color: #191919;
                            left: 50%;
                            bottom: -3px;
                            transform: translate((calc(50% - 15px)));
                        }
                    }
                }

                >a{
                    padding: 10px 30px;
                    background-color: #F9D783;
                    border:1px solid #F9D783;
                    border-radius: 25px;
                    text-decoration: none;
                    color: #191919;
                    font-weight: 600;
                    font-size: 1rem;
                    transition: transform .2s ease-in-out;

                    i{
                        margin-left: 8px;
                        font-size: 0.9em;

                        
                    }
                    
                    &:hover{
                        transform: scale(0.9);
                    }
                }    
            }
        }       
    }   
}
   
.hero {
    background-color: #f0efe9;
    background-image: url(/images/bg-effect.png);
    background-position: 0% 100%;
    background-repeat: no-repeat;
    
    @media (max-width: 1200px) {
        padding-top: 1rem;
        padding-bottom: 3rem;
    }        
    
        .container {
            display: flex;
            gap:20px;

            @media (max-width: 992px) {
                flex-direction: column-reverse;
            }
        }

    .hero-info {
        display: flex;
        flex-flow: row wrap;
        align-content: center;
        gap:1rem;
        
        @media (min-width: 1400px) {
            margin-bottom: 40px;
        }

        h1 {
            font-size: clamp(2.5rem, 1.5891rem + 4.5545vw, 5.375rem);
            text-transform: capitalize;
            font-family: 'DM Sans', sans-serif;
        }

        p {
            font-size: clamp(1rem, 0.9366rem + 0.3168vw, 1.2rem);
            width: 100%;
        }

        a {
            padding: 12px 30px;
            flex-grow: 1;

            @media (min-width: 1200px){
                flex-grow:0;
            }
        }

        .button:last-child {
        background-color: transparent;
        border-color: #191919;
        }
    }

    img {
        display: none;
        
        @media (min-width: 1200px){
            display: block;
            margin-right: -50px;
            
        }
    }
}

.business-logo {
    padding-top: clamp(3rem, 2.2958rem + 3.0047vw, 5rem);
    padding-bottom: clamp(3rem, 2.2958rem + 3.0047vw, 5rem);
    .container {
        display: grid;
        grid-template-columns: 1fr;
        gap: 60px;
        place-items: center;

        @media (min-width: 567px) {
            grid-template-columns: 1fr 1fr;
        }

        @media (min-width: 768px) {
            grid-template-columns: repeat(3, 1fr);
        }

        @media (min-width: 992px) {
            grid-template-columns: repeat(5, 1fr);
        }
    }
}

.features {
    padding-top: clamp(3rem, 2.3600rem + 3.2000vw, 5rem);
    padding-bottom: clamp(3rem, 2.3600rem + 3.2000vw, 5rem);

    .container { 
        display: grid;
        grid-template-columns: 1fr;
        justify-content: space-between;
        gap: 20px;
        
        @media (min-width:576px) {
            outline:1px solid #dad9d3;
            outline-offset: 2rem;
        }
        
        @media (min-width: 992px) {
            grid-template-columns: 420px 1fr;
        }

        @media (min-width: 1200px) {
            grid-template-columns: 460px 58%;
            
        }

         @media (min-width: 1400px) {
            outline-offset: 5rem;
        }

        .features-info {
            display: flex;
            flex-direction: column;
            gap: 20px;

            .button {
                padding: 12px 30px;
                margin-top: 20px;
            }
        }

        .features-grid {
            display: grid;
            grid-template-columns: 1fr;
            gap: 20px;

            @media (min-width: 576px) {
                grid-template-columns: 1fr 1fr;
            }

            .features-card {
                padding: 1.5rem 2rem;
 
                h4 {
                    padding-top: 30px;
                }
            }
        }
    }
}

.about-company {
    padding-top: clamp(3rem, 1.4155rem + 6.7606vw, 7.5rem);
    padding-bottom: clamp(3rem, 1.4155rem + 6.7606vw, 7.5rem);

    .container{
        display: grid;
        grid-template-columns: 1fr;
        gap: 40px;
        justify-content: space-between;

        @media (min-width: 992px) {
            grid-template-columns: auto 41%;
        }
        
        .about-img {
            position: relative;

            @media (min-width: 1200px) {
                padding-left: 4rem;
            }

            img {
                
                @media (max-width: 992px) {
                    width: 100%;
                    max-height: 400px;
                    object-fit: cover;
                    object-position: 50% 40%;
                }
            }

            .img-info {
                background-color: #BEEBFF;
                padding: 2rem;

                @media (min-width: 992px) {
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    right: 0;
                }

                @media (min-width: 1200px) {
                    position: absolute;
                    left: 0;
                    bottom: 60px;
                    right: inherit;
                }

                h4 {
                    font-size: 1.25rem;
                    
                    span{
                        color:#F94D1C;
                        font-size: 1rem; 
                    }
                }

                p{
                    font-weight: 500;
                    font-style: italic;
                }
            }
        }

        .about-info {
            display: flex;
            flex-direction: column;
            gap: 20px;

            .about-buttons {
                display: flex;
                flex-direction: column;
                gap: 30px;
                margin-top: clamp(1rem, -0.5845rem + 6.7606vw, 5.5rem);
                
                @media (min-width: 576px) {
                    flex-direction: row;
                    justify-content: start;
                }

                .button {
                    background-color: #191919;
                    border-color: #191919;
                    color: #fff;
                    padding: 12px 30px;
                
                    @media (max-width: 576px){
                        flex-grow: 1;
                    }
                }
                     
                .play {
                    font-weight: 600;
                    font-size: 1rem;
                    display: flex;
                    align-items: center;
                    text-decoration: none;
                    color: #191919;
                    transition: transform .2s ease-in-out;
                    align-self: center;

                    i {
                        font-size: 45px;
                        margin-right: 10px;
                    }
    
                    &:hover {
                        transform: scale(0.9);
                    }
                } 
            }
        }
    }
}   

.our-services {
    background-color: #F0EFE9;
    padding-top: clamp(3rem, 2.0757rem + 3.9437vw, 5.625rem);
    padding-bottom: clamp(3rem, 1.4155rem + 6.7606vw, 7.5rem);
    
    .container {

        h2 {
            margin-top: 20px;
            @media (min-width: 992px) {
                width: 500px;
            } 
        }
        
        .service-box-grid {
            display: grid;
            grid-template-columns: repeat(1, 1fr);
            gap: 25px;
            margin: 3.125rem 0;
            
            @media (min-width: 576px) {
                grid-template-columns: repeat(2, 1fr);
            } 

            @media (min-width: 1200px) {
                grid-template-columns: repeat(4, 1fr);
            } 

            .service-card {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                padding: 50px 20px;
                background-color: #fff;
                transition: background-color .2s ease-in-out;

                h4::before {
                    content: '';
                    display: block;
                    width: 40px;
                    height: 2px;
                    background-color: #191919;
                    margin-bottom: 40px;
                }

                p {
                    flex-grow: 1;
                }

                i {
                    border: 1px solid #191919;
                    background-color: #191919;
                    color: #fff;
                    padding: 20px 20px;
                    border-radius: 50%;
                    margin-top: 25px;
                    align-self: flex-end;        
                    transition: background-color .2s ease-in-out, border-color .2s ease-in-out, color .2s ease-in-out;
                }

                &:hover {
                    background-color: #F9D783;
                    
                    i {
                        background-color: #fff;
                        border-color: #fff;
                        color: #191919;
                    }
                }
            }
        }

        .btn-browse-services{
            display: flex;
            justify-content: center;
            
            a {
                background-color: transparent;
                border-color: #191919;
                padding: 12px 30px;
                flex-grow: 1;

                @media (min-width: 576px) {
                    flex-grow: 0;
                }
            }
        }
    }
}

.why-us {
    position: relative;
    padding-top: clamp(3rem, 2.7359rem + 1.1268vw, 3.75rem);
    padding-bottom: clamp(3rem, 1.4155rem + 6.7606vw, 7.5rem);
    
    .container {
        display: flex;
        flex-flow: column;
        gap: 40px;
        justify-content: space-between;

        @media (min-width: 992px) {
            flex-flow: row;
        }
        
        .us-info {
            display: flex;
            flex-flow: column;
            gap:20px;
        }
 
        .us-icon-grid {
            display: grid;
            grid-template-columns: 1fr;
            column-gap: 20px;
            row-gap: 40px;
            margin-top: 20px;

            @media (min-width: 768px) {

                grid-template-columns: 1fr 1fr;
            }

            @media (min-width: 992px) {
                grid-template-columns: 1fr;
            }

            .us-icon-info {
            display: flex;
            gap:30px;
            align-items: center;

                .icon-txt {
     
                    h4 {
                        margin:0
                    }
 
                    p {
                       margin-top:5px;
                       margin-bottom: 0px;
                    }
                }
            }
        }   

        
        .us-img {
            display: flex;
            justify-content: center;
            align-items: center;
            z-index: 1;
           

            @media (min-width: 1200px) {
                align-items: flex-start;
                
            }

            img {
                max-width: 100%;
                object-fit: cover;
                padding-top: 20px;
            }  
        }

        span {
            
            // @media (min-width: 992px) {
            //     position: absolute;
                
            //     left: 0;
            //     right: 0; 
            //     top: 220px;
            //     bottom: 80px;
            //     background-color:  #131208;
               
                
            // }

            // @media (min-width: 1200px) {
            //     left: 0;
            //     right: 100px;  
            //     top: 250px;              
            // }
        }
    }
}

.project-case {
    padding-bottom: clamp(3rem, 1.4155rem + 6.7606vw, 7.5rem);
    padding-top: clamp(3rem, 2.0757rem + 3.9437vw, 5.625rem);
    .container {

        h3, h2 {
            text-align: center;
        }
        
        .project-case-grid {
            margin-top: clamp(3rem, 1.8556rem + 4.8826vw, 6.25rem);
            margin-bottom: clamp(3rem, 2.5158rem + 2.0657vw, 4.375rem);
            display: grid;
            grid-template-columns: 1fr;
            column-gap: 30px;
            row-gap: 40px;

            @media (min-width: 768px) {
                grid-template-columns: repeat(2, 1fr);
            }
             
            .blog-card {
                display: flex;
                flex-direction: column;
                gap: 40px;
                
                img {
                    transition: opacity .2s ease-in-out;
                }

                .blog-info {
                    display: flex;
                    flex-flow: column;
                    justify-content: space-between;
                    flex: 1;

                    h4 {
                        padding-bottom: 10px;
                    }
    
                    .blog-button {
                        border-top: 1px solid #dad9d3;
                        padding-top: 20px;
                        display: flex;
                        justify-content: flex-end;
                        
                        p {
                            font-size: 0.875rem;
 
                            i {
                                margin-left: 10px;
                            }
                        }
                    }
                }

                &:hover {
                    img {
                        opacity: .8;
                    }

                    .blog-button {
                        text-decoration: underline #191919;
                        
                    }
                }
            }    
        }

        .btn-projects {
            display: flex;
            justify-content: center;
            
            .button {
                background-color: #191919;
                border-color: #191919;
                color: #fff;
                padding: 12px 30px;
                flex-grow: 1;

                @media (min-width: 576px) {
                    flex-grow: 0;
                }
            }
        }
    }   
}

.team {
    background-color: #F0D082;
    padding-top: clamp(3rem, 1.4155rem + 6.7606vw, 7.5rem);
    padding-bottom: clamp(3rem, 2.5158rem + 2.0657vw, 4.375rem);
    
    .container {

        .team-txt {
            display: flex;
            flex-flow: row wrap;
            justify-content: space-between;
            align-items: center;
            gap: 20px;

            h3 {
               width: 100%;
               margin: 0;
            }

            h2 {
                margin:0;
            }

            .button {
                padding: 12px 24px;
                background-color: transparent;
                border-color: #191919;
                flex-grow: 1;

                @media (min-width: 576px) {
                    flex-grow: 0;
                }
            }
        }

        .team-grid {
            display: grid;
            grid-template-columns: 1fr;
            column-gap:20px;
            row-gap:20px;
            margin-top: clamp(3rem, 2.0757rem + 3.9437vw, 5.625rem);
            margin-bottom: clamp(2rem, 1.6039rem + 1.6901vw, 3.125rem);

            @media (min-width: 576px) {
                grid-template-columns: repeat(2, 1fr);
            }

            @media (min-width: 992px) {
                grid-template-columns: repeat(4, 1fr);
            }

            .team-card {
                display: flex;
                flex-direction: column;
                gap: 20px;

            }
        }    

        .pagination {
            display: flex;
            justify-content: center;

        }
    }  
}

.testimonial {
    padding-bottom: clamp(3rem, 1.7143rem + 6.4286vw, 7.5rem);
    background-color: #F0D082;

    .container {
        padding: clamp(3rem, 1.7143rem + 6.4286vw, 7.5rem) 0;
        background-color: #fff;

        // @media (min-width: 1400px) {
        //     outline: 70px solid #fff;
        // }
        
        .testimonial-txt {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 20px;
        }
       
        .testimonial-grid {
            display: grid;
            grid-template-columns: 1fr;
            column-gap: 20px;

            @media (min-width: 992px) {
                grid-template-columns: repeat(3, 1fr);
            }

            .review {
                padding: 2rem 1rem;
                background-color: #fff;

                .review-txt {
                    p {
                        font-size: 1.125rem;
                        font-weight: 600;
                        font-style: italic;
                        margin-top: 20px;
                    }
                }

                .review-maker {
                    display: flex;
                    align-items: center;
                    gap: 20px;
                    margin-top: 30px;
                    
                    .review-name {
                        p {
                            margin: 0;
                            color: #F94D1C;
                        }
                    }
                }
            }
        }

        .all-reviews {
            margin-top: 60px;
            display: flex;
            justify-content: center;
            

            .button {
                padding: 12px 30px;
                background-color: #191919;
                border-color: #191919;
                color: #fff;
                flex-grow: 1;

                @media (min-width: 576px) {
                    flex-grow: 0;
                }
            }
        }
    }
}

.article-news {
    padding-top: clamp(3rem, 2.0714rem + 4.6429vw, 6.25rem);
    padding-bottom:  clamp(3rem, 2.0757rem + 3.9437vw, 5.625rem);

    .container {
        
        .news-head {
            display: flex;
            flex-flow: row wrap;
            justify-content: space-between;
            align-items: center;
            gap: 20px;
           
            h3 {
                width: 100%;
            }

            .button {
                background-color: transparent;
                border-color: #191919;
                padding: 12px 30px;
                flex-grow: 1;
                
                @media (min-width: 576px) {
                    flex-grow: 0;
                    
                }
            }
        }

        .article-news-grid {
            display: grid;
            grid-template-columns: 1fr;
            gap: 30px;
            margin-top: clamp(2rem, 1.8571rem + 0.7143vw, 2.5rem);
            margin-bottom: clamp(2rem, 1.5000rem + 2.5000vw, 3.75rem);

            @media (min-width: 768px) {
                grid-template-columns: 1fr 1fr;
            }

            @media (min-width: 992px) {
                grid-template-columns: repeat(3, 1fr);
            }
            
            .article-news-card {
                display: flex;
                flex-direction: column;
                gap: 20px;
                position: relative;

                .card-img {
                    transition: opacity .2s ease-in-out;
                }
    
                .card-date {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    background-color: #F9D783;
                    width: 50px;
                    height: 65px;
                    position: absolute;
                    top: 20px;
                    left: 20px;
                    
                    p {
                        text-align: center;
                        margin:0;
                        line-height: 18px;
                        color: #191919;
                        
                        span {
                            font-family: 'DM Sans', sans-serif;
                            font-size: 1.375rem;
                            font-weight: 700;
                            color: #191919;
                            
                        }
                    }
                }

                .card-info {
                    display: flex;
                    flex-direction: column;
                    gap: 20px;
    
                    p {
                        color: #6A6C71;
                        margin: 0;
                    } 

                }

                &:hover {
                    img {
                        opacity: .8;
                    }

                    h4 {
                        text-decoration: underline;
                    }
                }
            }
        } 
        
        .pagination {
            display: flex;
            justify-content: center;
        }
    }
}

.sign-up {
    padding: clamp(3rem, 2.0714rem + 4.6429vw, 6.25rem) 0;
    background-color: #F0EFE9;
    background-image: url(/icons/bg-signup.svg);
    background-repeat: no-repeat;
    background-position: 100% 100%;

    @media (min-width: 768px) {
        background-position: 100% 70%;
    }

    .container {
        display: flex;
        flex-flow: column;
        gap: 20px;

        @media (min-width: 1400px) {
            flex-direction: row;
            gap: 140px;
        }
        
        h2 {
            margin: 0;
            text-align: center;
        }

        input {
            border-radius: 25px;
            padding: 12px 24px;
            border: 1px solid #fff;
        }

        .button {
            padding: 12px 24px;
        }

        .sign-up-form {
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 20px;

            @media (min-width: 768px) {
                flex-direction: row;  
            }
        }
    }
}
       
.footer {
    background-color: #0E1021;
    background-image: url(/images/footer-bg-effect.png);
    background-repeat: no-repeat;
    background-position: 100% 100%;
    padding: 5rem 0;

    .container {
        
        display: grid;
        grid-template-columns: 1fr;
        column-gap: 80px;

        @media (min-width: 576px) {
            grid-template-areas:    'footer-about footer-about';
            grid-template-columns: 1fr 1fr;
        }

        @media (min-width: 1200px) {
            grid-template-columns: 320px repeat(4, 1fr);
        }

            .footer-about {
                display: flex;
                flex-flow: row wrap;
                gap: 20px;
                
                @media (min-width: 576px) and (max-width: 1200px) {
                    grid-area: footer-about;
                }
                
                p {
                    color: #fff;
                    
                }
            }

        .company, .help, .resources, .link {
            h4 {
                color: #fff;
            }
            padding-top: 2.5rem;
            
            nav {
                
                margin-top: 40px;
                
                ul {
                    list-style: none;
                    padding: 0;

                    li {

                        margin-bottom: 20px;

                        a {
                            text-decoration: none;
                            color: #fff;

                            &:hover {
                                text-decoration: underline;
                            }
                        }
                    } 
                }  
            }
        }
        
        .footer-bottom {
            display: flex;

        }
    }
} 

.footer-bottom {
    border-top: 1px solid #dad9d3;
    padding: 1.5rem 0;
    background-color: #0E1021;

    .container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;

        @media (min-width: 768px) {
            flex-direction: row;
            justify-content: space-between;
        }

        p {
            color: #fff;
            margin:0;
           
        }

        .social-links {
            display: flex;
            gap: 10px;
            
            i {
                color: #fff;
                font-size: 1.2rem;
                margin-left: 10px;
                transition: color .2s ease-in-out;

                &:hover {
                    color: #3a3f75;
                }
            }
        }
    }
}