@import url("https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,700&family=Inter:wght@300;400;500;600;700;800;900&display=swap");
@media (min-width: 2000px) {
  .container {
    max-width: 75%;
  }
}
html, body {
  color: #191919;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
}

.button {
  padding: 10px 30px;
  background-color: #F9D783;
  border: 1px solid #F9D783;
  border-radius: 25px;
  text-decoration: none;
  color: #191919;
  font-weight: 600;
  font-size: 1rem;
  transition: transform 0.2s ease-in-out;
  text-transform: capitalize;
  text-align: center;
}
.button i {
  margin-left: 8px;
  font-size: 0.9em;
}
.button:hover {
  transform: scale(0.9);
}

header {
  background-color: #f0efe9;
  padding: 1rem 0;
}
header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 4.375rem;
}
header .container .menu {
  display: none;
  flex-grow: 1;
}
@media (min-width: 992px) {
  header .container .menu {
    display: block;
  }
}
header .container .menu .top-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 0.5rem;
  border-bottom: 1px solid #dad9d3;
}
header .container .menu .top-menu .contact {
  display: flex;
  gap: 1rem;
}
header .container .menu .top-menu .contact .contact-info {
  border-right: 1px solid #dad9d3;
  padding-right: 1rem;
}
header .container .menu .top-menu .contact .contact-info i {
  margin-right: 5px;
  font-size: 1em;
  transition: transform 0.2s ease-in-out;
}
header .container .menu .top-menu .contact .contact-info a {
  font-family: "Inter", sans-serif;
  text-decoration: none;
  color: #191919;
  font-size: 0.875rem;
  font-weight: 300;
}
header .container .menu .top-menu .contact .contact-info a:hover i {
  transform: scale(1.3);
}
header .container .menu .top-menu .contact .contact-info.last {
  border: none;
}
header .container .menu .top-menu .social-media a {
  color: #191919;
  font-size: 1.2rem;
  margin-left: 10px;
  transition: opacity 0.2s ease-in-out;
}
header .container .menu .top-menu .social-media a:hover {
  opacity: 0.7;
}
header .container .menu .main-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 0.5rem;
}
header .container .menu .main-menu nav a {
  display: inline-block;
  color: #191919;
  text-decoration: none;
  margin-right: 1.3rem;
  position: relative;
}
header .container .menu .main-menu nav a.active {
  font-weight: 500;
}
header .container .menu .main-menu nav a.active::after, header .container .menu .main-menu nav a:hover::after {
  content: "";
  position: absolute;
  width: 15px;
  height: 2px;
  background-color: #191919;
  left: 50%;
  bottom: -3px;
  transform: translate(calc(50% - 15px));
}
header .container .menu .main-menu > a {
  padding: 10px 30px;
  background-color: #F9D783;
  border: 1px solid #F9D783;
  border-radius: 25px;
  text-decoration: none;
  color: #191919;
  font-weight: 600;
  font-size: 1rem;
  transition: transform 0.2s ease-in-out;
}
header .container .menu .main-menu > a i {
  margin-left: 8px;
  font-size: 0.9em;
}
header .container .menu .main-menu > a:hover {
  transform: scale(0.9);
}

.mobile-menu {
  display: flex;
  flex-direction: column;
  gap: 5px;
  z-index: 99;
  cursor: pointer;
}
@media (min-width: 992px) {
  .mobile-menu {
    display: none;
  }
}

:root {
  --animation-timing: 200ms ease-in-out;
}

.mobile-menu::before,
.mobile-menu::after,
.mobile-menu input {
  content: "";
  width: 24px;
  height: 2px;
  background-color: #191919;
  border-radius: 2px;
  transition: opacity var(--animation-timing), width var(--animation-timing), rotate var(--animation-timing), translate var(--animation-timing);
  transform-origin: center center;
}

.mobile-menu input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
  pointer-events: none;
}

.mobile-menu input:checked {
  opacity: 0;
  width: 0;
}

.mobile-menu:has(input:checked)::before {
  rotate: 45deg;
  translate: 0px 8px;
}

.mobile-menu:has(input:checked)::after {
  rotate: -45deg;
  translate: 0px -6px;
}

.mobile-menu:has(input:checked) + .mobile-menu-slide {
  translate: 0;
}

.mobile-menu-slide {
  width: 100%;
  position: absolute;
  top: 63px;
  left: 0px;
  padding-top: 2rem;
  transition: translate var(--animation-timing);
  translate: 100%;
  background-color: rgb(172, 172, 172);
  min-height: calc(100svh - 63px);
}

.mobile-menu-slide ul {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.mobile-menu-slide ul li {
  list-style: none;
  text-align: center;
}

.hero {
  background-color: #f0efe9;
  background-image: url(/images/bg-effect.png);
  background-position: bottom left;
  background-repeat: no-repeat;
}
.hero .container {
  display: flex;
  flex-flow: row wrap;
  padding-top: 2rem;
  border: 2px solid red;
}
@media (max-width: 992px) {
  .hero .container {
    flex-flow: column-reverse wrap;
  }
}
.hero .hero-info {
  display: flex;
  flex-flow: row wrap;
  align-content: center;
  gap: 1rem;
  border: 2px solid gold;
}
.hero .hero-info h1 {
  font-size: clamp(3rem, 1.6019rem + 3.8835vw, 5rem);
  text-transform: capitalize;
  font-family: "DM Sans", sans-serif;
}
.hero .hero-info .button:last-child {
  background-color: transparent;
  border-color: #191919;
}
.hero .hero-img {
  display: flex;
  justify-content: center;
}
.hero .hero-img img {
  aspect-ratio: 4/3;
  -o-object-fit: contain;
     object-fit: contain;
}

.business-logo {
  padding: 5rem 0;
}
.business-logo .container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  border: 2px solid red;
  gap: 20px;
}
.business-logo .container div {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid gold;
}

.features {
  padding: 5rem 0;
}
.features .container {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
  outline: 1px solid #dad9d3;
  outline-offset: 4rem;
  gap: 40px;
}
@media (min-width: 992px) {
  .features .container {
    flex-flow: row wrap;
    gap: 0px;
  }
}
.features .container .features-info {
  display: flex;
  flex-flow: row wrap;
  align-content: start;
  gap: 20px;
}
.features .container .features-info p {
  color: #F94D1C;
  font-weight: 500;
  text-transform: capitalize;
  font-size: 1.125rem;
}
.features .container .features-info h2 {
  color: #191919;
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  font-size: 2.8rem;
}
.features .container .features-info .button {
  width: 100%;
}
.features .container .features-box {
  display: flex;
  flex-flow: row wrap;
}
.features .container .features-box div {
  display: flex;
  flex-flow: column wrap;
  align-items: start;
  padding: 1.5rem 1rem;
}
.features .container .features-box div h3 {
  font-family: "DM Sans", sans-serif;
  font-size: 1.375rem;
  text-transform: capitalize;
}
.features .container .features-box div p {
  color: 500000E5E;
  font-size: 1;
}
.features .container .features-box div img {
  margin-bottom: 30px;
}

.about {
  padding: 5rem 0;
}
.about .container {
  display: flex;
  justify-content: space-between;
}
.about .container .about-img {
  padding: 0 4rem;
  position: relative;
}
.about .container .about-img div {
  background-color: red;
  position: absolute;
  left: 0;
  bottom: 3rem;
}
.about .container .about-info .button {
  background-color: #191919;
  border-color: #191919;
  color: #ffffff;
}
.about .container .about-info .play i {
  margin-right: 5px;
}