.full-width-split-screen {
    display: grid;
    grid-template-columns: 1fr 620px 620px 1fr;
    
    


    .us-info {
        grid-column: 2/3;
        margin-right: 200px;
    }


    .us-img {
        position: relative;

        margin-left: 100px;
        grid-column: 3/-1;

        .bg-clr-effect {
            background-color: black;
            height: 420px;
            width: 100%;
            position: absolute;
            bottom: 0;
            right: 0;
        }
    }
}