.features {
  border: 1px solid red;
  padding-top: clamp(3rem, 2.36rem + 3.2vw, 5rem);
  padding-bottom: clamp(3rem, 2.36rem + 3.2vw, 5rem);
}
.features .container {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
  gap: 40px;
}
@media (min-width: 992px) {
  .features .container {
    flex-flow: row wrap;
    gap: 0px;
  }
}
.features .container .features-info {
  display: flex;
  flex-flow: row wrap;
  align-content: start;
  gap: 20px;
}
.features .container .features-info .button {
  width: 100%;
  padding: 12px 30px;
  margin-top: 1rem;
}
.features .container .features-box {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}
.features .container .features-box div {
  display: flex;
  flex-flow: column;
  align-items: start;
  padding: 1.7rem 1rem;
}
.features .container .features-box div p {
  color: 500000E5E;
}
.features .container .features-box div img {
  margin-bottom: 30px;
}