.full-width-split-screen {
  display: grid;
  grid-template-columns: 1fr 620px 620px 1fr;
}
.full-width-split-screen .us-info {
  grid-column: 2/3;
  margin-right: 200px;
}
.full-width-split-screen .us-img {
  position: relative;
  margin-left: 100px;
  grid-column: 3/-1;
}
.full-width-split-screen .us-img .bg-clr-effect {
  background-color: black;
  height: 420px;
  width: 100%;
  position: absolute;
  bottom: 0;
  right: 0;
}