.features {
  background-color: rgb(52, 184, 184);
}
.features .container {
  border: 2px solid red;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}
.features .container .test1 {
  border: 1px solid green;
}
.features .container .test2 {
  border: 2px solid rgb(18, 18, 160);
  flex-flow: row wrap;
  justify-content: start;
}
.features .container .test2 div {
  border: 1px solid gold;
  padding: 2rem;
}